/* portrait only styles*/

.world-in-portrait-ArticleTemplate--header {
  height: auto;
  background-color: transparent !important;
  margin-left: 7.5%;
  width: 83.1%;
  position: absolute;
  bottom: 0;
}

.world-in-portrait-ArticleTemplate--header:after {
    background-color: #E7EBEB !important;
    bottom: -3px !important;
}

.world-in-portrait-ArticleTemplate--rubric {
  color: var(--color-white);
  border-left: 1px solid grey;
  background-color: #748C94 !important;
  width: 96.8%;
  margin: 0 !important;
  padding: 15px 0 3% 3% !important;
}

.world-in-portrait-ArticleTemplate--title {
  padding: 25px 0 25px 3%;
  color: var(--color-worldin-bodycopy-black) !important;
  width: 100%;
  background-color: transparent;
}

.world-in-portrait-ArticleTemplate--byline {
  display: none;
}

.world-in-portrait-ArticleTemplate--container {
    background-color: #E7EBEB;
}

@media screen and (max-width: 480px) {
  .world-in-portrait-ArticleTemplate--header {
    margin-top: -50% !important;
    position: relative;
  }
  .world-in-portrait-ArticleTemplate--title {
    min-height: 240px;
    padding-top: 0;
    line-height: 0px !important;
  }

  .ArticleTemplate--image {
    position: relative;
    top: 100px;
  }
}
