.world-in-predictors-ArticleTemplate--container {
  background-color: #e7f0f5 !important;
  padding-top: 40px;
}

.world-in-predictors-ArticleTemplate--title,
.world-in-predictors-ArticleTemplate--rubric {
  color: var(--color-dark-blue) !important;
  background-color: transparent;
  width: 64% !important;
}

.world-in-predictors-ArticleTemplate--rubric {
  float: left;
  border-left: 1px solid #F00;
  padding-bottom: 13px;
}

.world-in-predictors-ArticleTemplate--imagecontainer {
  min-height: inherit !important;
  width: 100%;
  display: inline-block;
  border-left: 1px solid #808080;
  position: initial !important;
}

.world-in-predictors-ArticleTemplate--image {
  width: 250px !important;
  height: auto !important;
  position: absolute;
  top: 0;
  right: 0;
}

.world-in-predictors-ArticleTemplate--header {
  background-color: transparent !important;
  position: relative !important;
  border: 0 !important;
  margin-bottom: -18px;
  min-height: 50px !important;
}

.world-in-predictors-ArticleTemplate--header:after {
    content: none !important;
}

.world-in-predictors-ArticleTemplate--flytitle {
  display: block !important;
  color: var(--color-red);
  font-family: "Officina_bold";
  font-size: 21px !important;
  font-weight: normal;
  line-height: 18px !important;
  padding: 0 0 5px 3% !important;
  margin: 40px 0 0 0;
  border-left: 1px solid #F00;
}

.world-in-predictors-ArticleTemplate--title {
  border-left: 1px solid #F00;
}

.world-in-predictors-ArticleTemplate--subheader {
  clear: both !important;
}

.world-in-predictors-ArticleTemplate--byline {
  padding-top: 15px !important;
}

@media screen and (max-width: 860px) {
  .world-in-predictors-ArticleTemplate--title,
  .world-in-predictors-ArticleTemplate--rubric {
    width: 50% !important;
  }
  .world-in-predictors-ArticleTemplate--rubric {
    padding-bottom: 0 !important;
  }

  .world-in-predictors-ArticleTemplate--header {
    position: relative;
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 700px) {
  .world-in-predictors-ArticleTemplate--image {
    float: right;
    position: initial;
    width: 60% !important;
    height: auto !important;
  }

  .world-in-predictors-ArticleTemplate--rubric {
    width: 100% !important;
  }

  .world-in-predictors-ArticleTemplate--title {
    width: 100% !important;
  }
}

@media screen and (max-width: 480px) {
  .world-in-predictors-ArticleTemplate--container {
    padding-top: 20px;
  }

  .world-in-predictors-ArticleTemplate--header {
    margin-top: 0 !important;
    position: relative !important;
  }

  .world-in-predictors-ArticleTemplate--rubric {
    font-size: 22px !important;
    line-height: 28px !important;
    width: 100% !important;
  }

  .world-in-predictors-ArticleTemplate--title {
    padding-top: 0 !important;
    width: 100% !important;
  }
}
