/* predictor only styles*/

.world-in-predictors-ArticleTemplate--container {
  background-color: #E7EBEB !important;
  padding-top: 40px;
}

.world-in-predictors-ArticleTemplate--title,
.world-in-predictors-ArticleTemplate--rubric {
  color: var(--color-predictors-blue) !important;
  background-color: transparent;
    width: 50% !important;
}

.world-in-predictors-ArticleTemplate--rubric {
  font-size: 30px !important;
  float: left;
  border-left: 1px solid #F00;
  padding-bottom: 13px;
}

.world-in-predictors-ArticleTemplate--imagecontainer {
  min-height: inherit !important;
}

.world-in-predictors-ArticleTemplate--image {
  /* width and height for dummy layout purpose will need to be 100% in prod */
  width: 250px !important;
  height: 380px !important;
  position: absolute;
  top: 25px;
  right: 0;
}

.world-in-predictors-ArticleTemplate--header {
  background-color: transparent !important;
  position: relative !important;
  border: 0 !important;
}

.world-in-predictors-ArticleTemplate--header:after {
    content: none !important;
}

.world-in-predictors-ArticleTemplate--flytitle {
  display: block !important;
  color: var(--color-econ-red);
  font-family: "Officina_bold";
  font-size: 21px !important;
  font-weight: normal;
  line-height: 18px !important;
  padding: 0 0 5px 3% !important;
  margin: 40px 0 0 0;
  border-left: 1px solid #F00;
}

.world-in-predictors-ArticleTemplate--title {
  border-left: 1px solid #F00;
}

.world-in-predictors-ArticleTemplate--subheader {
  clear: both !important;
}

.world-in-predictors-ArticleTemplate--byline {
  padding-top: 15px !important;
}

.world-in-predictors-ArticleTemplate--byline-footer .world-in-predictors-ArticleTemplate--byline,
.world-in-predictors-ArticleTemplate--section-section,
.ArticleTemplate--crossheads p {
  color: var(--color-predictors-blue) !important;
}



@media screen and (max-width: 860px) {
  .world-in-predictors-ArticleTemplate--title {
    width: 50%;
  }
}


@media screen and (max-width: 700px) {
  .world-in-predictors-ArticleTemplate--image {
    float: right;
    position: initial;
    border-left: 1px solid #F00;
    width: 99.7% !important;
    height: 100% !important;
  }

  .world-in-predictors-ArticleTemplate--rubric {
    width: 100% !important;
  }

  .world-in-predictors-ArticleTemplate--title {
    width: 100% !important;
  }
}

@media screen and (max-width: 480px) {

  .world-in-predictors-ArticleTemplate--container {
    padding-top: 20px;
  }


  .world-in-predictors-ArticleTemplate--header {
    margin-top: 0 !important;
    position: relative !important;
  }

  .world-in-predictors-ArticleTemplate--rubric {
    font-size: 22px !important;
    line-height: 28px !important;
    width: 100% !important;
  }

  .world-in-predictors-ArticleTemplate--title {
    padding-top: 0 !important;
    width: 100% !important;
  }
}
