.world-in-predictors-ArticleTemplate--container {
  background-color: #e7f0f5;
  padding-top: 40px;
}

.world-in-predictors-ArticleTemplate--header {
  height: auto;
  min-height: 140px;
  border-left: 1px solid var(--color-red);
  margin-left: 7.5%;
  width: 83.1%;
  bottom: 0;
  background-color: transparent;
  position: relative;
  border: 0;
  margin-bottom: -18px;
  min-height: 50px;
}

.world-in-predictors-ArticleTemplate--header:after {
  content: none;
  background-color: white;
  bottom: 0;
}

.world-in-predictors-ArticleTemplate--imagecontainer {
  min-height: inherit;
  width: 100%;
  display: inline-block;
  border-left: 1px solid #808080;
  position: initial;
}

.world-in-predictors-ArticleTemplate--image {
  width: 250px;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.world-in-predictors-ArticleTemplate--title,
.world-in-predictors-ArticleTemplate--rubric {
  color: var(--color-dark-blue);
  background-color: transparent;
  width: 64%;
}

.world-in-main-ArticleTemplate--rubric {

}

.world-in-predictors-ArticleTemplate--flytitle {
  display: block;
  color: var(--color-red);
  font-family: "Officina-Bold";
  font-size: 21px;
  font-weight: normal;
  line-height: 18px;
  padding: 0 0 5px 3%;
  margin: 40px 0 0 0;
  border-left: 1px solid #F00;
}

.world-in-predictors-ArticleTemplate--title {
  border-left: 1px solid #F00;

  line-height: 48px;
  padding: 10px 3%;
}

.world-in-predictors-ArticleTemplate--rubric {
  float: left;
  border-left: 1px solid #F00;
  padding-top: 10px;
  padding-bottom: 13px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 3%;
}

.world-in-predictors-ArticleTemplate--subheader {
  clear: both;
}

.world-in-predictors-ArticleTemplate--byline {
  padding-top: 15px;
}

@media screen and (max-width: 860px) {
  .world-in-predictors-ArticleTemplate--flytitle,
  .world-in-predictors-ArticleTemplate--title {
    line-height: 35px;
  }
  .world-in-predictors-ArticleTemplate--title,
  .world-in-predictors-ArticleTemplate--rubric {
    width: 50%;
  }
  .world-in-predictors-ArticleTemplate--rubric {
    padding-bottom: 0;
  }

  .world-in-predictors-ArticleTemplate--header {
    position: relative;
    margin-top: 0;
  }
}

@media screen and (max-width: 700px) {
  .world-in-predictors-ArticleTemplate--image {
    float: right;
    position: initial;
    width: 60%;
    height: auto;
  }

  .world-in-predictors-ArticleTemplate--rubric {
    width: 100%;
  }

  .world-in-predictors-ArticleTemplate--title {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .world-in-predictors-ArticleTemplate--container {
    padding-top: 20px;
  }

  .world-in-predictors-ArticleTemplate--header {
    margin-top: 0;
    position: relative;
  }

  .world-in-predictors-ArticleTemplate--rubric {
    font-size: 22px;
    line-height: 28px;
    width: 100%;
  }

  .world-in-predictors-ArticleTemplate--title {
    padding-top: 0;
    width: 100%;
  }
}
